{% extends 'canvas.html' %}
{% block body %}

<div class="row">
    <div class="col-md-10 offset-md-1">
        
        

        <div class="card card-body">
                    
                    
                    <p>Esta aplicación se construyó como propuesta de solución para el trabajo de grado: "Automatización de consultas de terceros en listas
                        restrictivas para delitos relacionados con lavado de Activos y Financiación del terrorismo" para optar por el título 
                        de Magister en Ingeniería - Analítica, trabajo dirigido por el Doctor Juan David Velásquez, Profesor Titular del Departamento de Ciencias de 
                        la Computación y la Decisión, Facultad de Minas, Universidad Nacional de Colombia. </p>
                    <p> Trabajo desarrollado por: Santiago Arboleda Quiroz</p>
                    <p> Email: sarboledaq@unal.edu.co </p>
                    <hr>
                    <p> © Copyright 2021, Santiago Arboleda</p>
                    
                             
        </div>
    </div>
</div>
{% endblock %}