{% extends 'canvas.html' %}
{% block body %}

<div class="row">
    <div class="col-md-5 offset-md-3">
        
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %} 
        {% endif %}
        {% endwith %}


        <div class="card card-body">
                    <p>A continuación debe ingresar la información de los terceros a revisar.</p>
                    <strong><p>IMPORTANTE!</p></strong>
                    <p>- Recuerde seleccionar el criterio por el cual desea realizar la búsqueda</p>
                    <p>- Debe ubicar los elementos a buscar en cada renglón</p>
                    <p>- No separar los elementos por ningún delimitador</p>
                    <p>- La búsqueda por nombre solo se permiten letras, no use numeros. En caso que requiera hacer una busqueda por nombre de muchos valores, sea paciente, esto puede tomar un tiempo mientras un robot captura la información. </p>
                    <p>- Asegurese de no tener renglones en blanco</p>
                    <form action="/result" method='POST'>
                        <div class="form-group">
                        <fieldset>
                            <p>Seleccione el parámetro de búsqueda a utilizar</p>
                            <input type="radio" name="choice" id="nombre" value="nombre" checked="checked">Nombre</label><br />
                            <input type="radio" name="choice" id="identificacion" value="identificacion">Identificación</label><br />
                            <input type="radio" name="choice" id="pasaporte" value="pasaporte">Pasaporte</label><br />
                        </fieldset>
                        </div>
                        <div class="form-group">
                            <textarea id="w3review" name="list" rows="4" cols="50" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Validar terceros</button>
                        </div>    
                    </form>                
        </div>
    </div>
</div>
{% endblock %}